:root {
    --body-bg-color: #f5f5f5;
    --header-bg-color: rgba(16, 16, 16, 0.7);
    --text-color: black;
    --header-text-color: #f5f5f5;
    --border-color: rgb(205, 200, 200);
    --hero-overlay: rgba(16, 16, 16, 0.4);
    --input-bg-color: #f5f5f5;
    --input-text-color: black;
    --textarea-bg-color: #f5f5f5;
    --textarea-text-color: #111111;
    --box-shadow-color: 10px 10px 10px rgba(0, 0, 0, 0.18);
}
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #272727;        
        --header-bg-top: rgba(0, 0, 0, 0);         
        --header-bg-scroll: rgba(0, 0, 0, 0.85);  
        --text-color: #ffffff;  
        --header-text-color: #f5f5f5;                   
        --hero-overlay: rgba(0, 0, 0, 0.4);
        --input-bg-color: #beb9b9;
        --input-text-color: black;
        --textarea-bg-color: #beb9b9;
        --textarea-text-color: #111111;
        --box-shadow-color: 10px 10px 10px rgba(255, 255, 255, 0.397);
    }
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(./assets/bg-image.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    width: 100%;
}

/* Header */
.hero-section {
    color: var(--header-text-color);
} 

nav {
    color: var(--header-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position:sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--header-bg-color);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    scroll-margin-top: 81.59px;
}

nav a {
    color: var(--header-text-color);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--header-text-color);
    text-decoration-thickness: 3px;
    color: var(--header-text-color);
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 30%;
    color: var(--header-text-color);
}
.headline h1 {
    font-size: 5rem;
    font-weight: 300;
}
.headline p {
    font-size: 1.5rem;
    font-weight: 300;
}

/* About Me Section */
main {
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
}

.img {
    height: 250px;
    width: 200px;
    border-radius: 50%;
}

main .card {
    box-shadow: var(--box-shadow-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}
.card-body {
    background-color: var(--body-bg-color);
    border-radius: 10px;
    color: var(--text-color) !important;
}

.details {
    padding-top: 40px;
}

section {
    background-color: var(--body-bg-color);
}

/* Projects Section */
.projects-grid {
    padding: 70px 110px;
    color: var(--text-color);
}

.projects-grid .card {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.projects-grid .card-body {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.projects-grid img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects-grid .btn-primary {
    color: black;
}

.projects-grid i {
    color: var(--text-color);
}
.projects-grid .btn-outline-dark {
    color: var(--text-color);
    border-color: var(--text-color);
}

section .card {
    border: 1px solid var(--border-color);
}

/* Contact Section */
.container .card {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow-color) !important;
}

input[type="text"], input[type="email"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--input-bg-color);
    color: #000000 !important; 
    border: 1px solid var(--border-color);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--input-bg-color) inset !important;
    -webkit-text-fill-color: #000000 !important;
}

textarea {
    background-color: var(--input-bg-color) !important;
    color: #000000 !important;
    border: 1px solid var(--border-color) !important;
}
textarea:focus, textarea:active, textarea:hover {
    background-color: var(--input-bg-color) !important;
}

.form-control:focus {
  border-color: rgb(159, 199, 80) !important;
  box-shadow: 0 0 0 .25rem rgba(159, 199, 80, 1) !important;
  outline: 0;
}

/* Footer */
footer {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-size: 0.75rem;
}
